body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #f4f4f4;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

main {
    padding: 20px;
    text-align: center;
}

#hero {
    background-color: #eaeaea;
    padding: 50px 20px;
}

#hero h1 {
    margin: 0 0 20px;
}

.button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}

.filters {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-bottom: 20px;
    
}
.filter {
    display: flex;
    align-items: center;
    gap: 5px;
}
.filter label {
    margin-right: 5px;

}
.filter select {
    padding: 5px;

}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: 10px;
    color: white;
}
.navbar .brand {
    font-size: 1.5em;
}

ul {
    list-style-type: none; /* Remove bullets */
    padding: 0;
}
li {
    margin: 10px 0;
}

.botao{
    width: 750px;
    height: 200px;
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border: solid 1px rgb(0, 0, 0);
    border-radius: 20px;
    color: rgb(0, 0, 0);
    background-color: white;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}
.botao:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    transform: scale(1.2)
}