body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0a99ffb6;
}

header {
    background-color: #fff;
    padding: 10px 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center; 
    padding-left: 20px; 
}

nav .logo {
    width: 80px; 
    height: auto;
    margin-right: 20px; 
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

main {
    padding: 20px;
    text-align: center;
    color: #11004f;
}

#hero {
    padding: 50px 20px;
}

#hero h1 {
    margin: 0 0 20px;
}

.search-form {
    margin: 50px 0;
}

.search-form input[type="text"] {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 25px;  /* Rounded corners */
}

.search-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;  /* Rounded corners */
    background-color: #170067;
    color: #fff;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #160067b0;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;  /* Space between buttons */
    margin-top: 20px;
}

.large-button, .large-button1 {
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Align items at the bottom */
    align-items: center;
    background-color: #fff;
    border-radius: 25px;
    padding: 20px; /* Adjust padding */
    text-align: center;
    margin-top: -30px;
    margin-bottom: 120px;
    position: relative;
    transition: background-color 0.3s, color 0.3s;
}

.large-button .button, .large-button1 .button {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    border-radius: 25px;  /* Rounded corners */
    z-index: 1;
}

.large-button p, .large-button1 p {
    margin: 0;
    padding: 10px 0; /* Adjust padding */
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limit text to 2 lines */
    -webkit-box-orient: vertical;
    transition: color 0.3s;
}

.large-button:hover, .large-button1:hover {
    background-color: #0a99ff;
}

.large-button:hover p, .large-button1:hover p,
.large-button:hover .button, .large-button1:hover .button {
    color: #fff;
}

.large-button img, .large-button1 img {
    width: 100px; /* Define desired width */
    height: auto; /* Maintain original aspect ratio */
     /* Push image to the top */

}

footer {
    background-color: #11004f;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer ul li a {
    color: #fff;
}